@page
@model IndexModel
@{
    ViewData["Title"] = "Düzce Üniversitesi";
}

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://picsum.photos/1920/780?random=1" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/1920/780?random=2" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://picsum.photos/1920/780?random=3" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container my-5">
    <div class="row">
            <div class="col-4 card">
                <img src="https://picsum.photos/600/300?random=4" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="col-4 card">
                <img src="https://picsum.photos/600/300?random=5" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="col-4 card">
                <img src="https://picsum.photos/600/300?random=6" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
            <div class="col-12 card my-3">
                <img src="https://picsum.photos/800/300?random=7" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
    </div>
</div>

<section class="bg-info boyut-600 mt-5">
    <div class="container ortala">
        <div class="row">
            <h2>KENTİMİZ VE SANAYİ ELELE</h2>
            <h3>ÜRETEN ÜNİVERSİTE</h3>
            <p>Sanayi ve iş dünyası ile üniversiteyi ortak akıl, ortak hedef ve ortak başarı ilkeleri doğrultusunda ortak projelerle biraraya getirerek üniversitenin ve sanayinin gelişmesine katkıda bulunmaktır.</p>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-7"><img class="w-100" src="https://picsum.photos/800/800?random=8" alt="..."> </div>
    <div class="col-5">
        <div class="row ortala text-center">
            <h2>2006'DAN BUGÜNE</h2>
            <div class="kutu col-6">
                <span class="stats-count center">14 <br />Üniversite</span>
            </div>

            <div class="kutu col-6">
                <span class="stats-count center">50 <br />Fakülte</span>
            </div>
            <div class="kutu col-6">
                <span class="stats-count center">550 <br />Akademisyen</span>
            </div>
            <div class="kutu col-6">
                <span class="stats-count center">35000<br />Öğrenci</span>
            </div>
        </div>
    </div>
</div>