@page
@model PrivacyModel
@{
    ViewData["Title"] = "Panel Sayfası";
}


<div class="container">
    <div class="row">
        <h1>@ViewData["Title"]</h1>
        <p>Duyuru Paylaşmak İçin Aşağıdaki Formu Doldurun.</p>

    </div>
</div>





